__pycache__
venv
tests/artifacts
*.swp
*.tgz

# opencode_build should be a symbolic link to your opencode build directory
opencode_build

# opencode should be a symbolic link to the opencode binary
opencode

